@model GeneratorLogger.Database.GeneratorLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GeneratorLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Temprature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temprature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logging_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logging_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Generator.GeneratorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generator.GeneratorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
